<h3>Title: {{article.title}}</h3>
<p>Author: {{article.author}}</p>
<p>Body: {{article.body}}</p>
<p>URL Title: {{article.urlTitle}}</p>


<a href="/{{endpoint}}">
  <button>All Articles</button>
</a>

<a href="/{{endpoint}}/{{article.title}}/edit">
  <button>Edit Article</button>
</a>

<form action="/{{endpoint}}/{{article.urlTitle}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete">
</form>