<a id="add_article_btn" href="/{{endpoint}}/new">
  <button>
    <i class="fas fa-plus"></i>
  </button>
</a>
<h1>{{error}}</h1>
<div id="articles_container">
  {{#each articles}}
  <div class="card">
    <a href="/{{../endpoint}}/{{urlTitle}}">
      <div class="card_header">
        <form action="/{{../endpoint}}/{{urlTitle}}?_method=DELETE" method="POST">
          <button type="submit">
            <i class="fas fa-times"></i>
          </button>
        </form>
      </div>
    </a>
    <div class="card_body">
      <div class="card_title card_content">{{title}}</div>
      <div class="card_author card_content">By {{author}}</div>
      <div class="card_body_text card_content">{{body}}</div>
    </div>
  </div>
  {{/each}}
</div>
{{!--

<ol>
  {{#if render}} {{#each articles}}

  <li>
    <h3>Title:
      <a href="/{{../endpoint}}/{{urlTitle}} "> {{title}}</a>
    </h3>
    <p>Author: {{author}}</p>
    <p>Body: {{body}}</p>
  </li>
  <form action="/{{../endpoint}}/{{urlTitle}}?_method=DELETE " method="POST ">
    <input type="submit " value="Delete ">
  </form>
  {{/each}} {{/if}}
</ol> --}}