<a href="/{{endpoint}}/new">
  <button>Add New Product</button>
</a>
<h1>{{error}}</h1>
<ol>
  {{#if render}} {{#each products}}
  <li>
    <h3>Name:
      <a href="/{{../endpoint}}/{{id}}"> {{name}}</a>
    </h3>
    <p>Price: {{price}}</p>
    <p>Inventory: {{inventory}}</p>
  </li>
  <form action="/{{../endpoint}}/{{id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
  {{/each}} {{/if}}
</ol>