<h3>Name: {{product.name}}</h3>
<p>Price: {{product.price}}</p>
<p>Inventory: {{product.inventory}}</p>
<p>ID: {{product.id}}</p>


<a href="/{{endpoint}}">
  <button>All Products</button>
</a>

<a href="/{{endpoint}}/{{product.id}}/edit">
  <button>Edit Product</button>
</a>

<form action="/{{endpoint}}/{{product.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete">
</form>